/** @format */
.containerMain {
  height: 100vh;
  width: 100vw;
}
p {
  font-family: serif;
}
.cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: wheat;
  line-height: 5px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}
.cartTitle {
  color: maroon;
  font-family: serif;
  text-align: center;
  padding: 20px;
}
