/**
 * Email form CSS
 *
 * @format
 */

.emailContainer {
  height: 100vh;
  width: 100vw;
  background-color: goldenrod;
  overflow: scroll;
}
.mailContainerforEmail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: floralwhite;
}
li {
  list-style-type: none;
}
.addressContainer {
  background-color: floralwhite;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.emailPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 20%;
}
input {
  width: 25vw;
  padding: 5px;
  border-radius: 5px;
  color: black;
  border: 1px solid goldenrod;
}
textarea {
  width: 25vw;
  padding: 5px;
  border-radius: 5px;
  color: black;
  border: none;
}
.orderBtn {
  margin-left: 60px;
  background-color: maroon;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
}
.orderPlaced {
  margin-left: 50px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
}
.navbarColor {
  background-color: #0f1111;
}
.navOptions {
  color: white;
  background-color: #0f1111;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-family: serif;
}
p {
  font-family: serif;
}
.navOptions:hover {
  background-color: goldenrod;
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 40px;
}
.addressText {
  padding-top: 20px;
  color: maroon;
  font-family:serif;
  font-weight: 600;
}

